body {
      min-height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0;

}
.heartone{
      width: 150px;
      height: 150px;
      background-color: red;
      position: relative;
      transform: rotate(-45deg);
      box-shadow: 0 0 120px rgb(241, 7, 7);
      animation: heart .5s linear infinite;
      
}
.heartone::before{
      content: '';
      width: 150px;
      height: 150px;
      background-color: red;
     position: absolute;
     top: -50%;
     border-radius: 50%;
     box-shadow: 0 0 120px rgb(241, 7, 7);
     
}

.heartone::after{
      width: 150px;
      height: 150px;
      background-color: red;
      content: '';
      position: absolute;
      right: -50%;
      border-radius: 50%;
      box-shadow: 0 0 120px rgb(241, 7, 7);
}
@keyframes heart{
      from{
            transform: rotate(-45deg) scale(.7);
      }
      to{
            transform: rotate(-45deg) scale(1);
      }
}